int led=13;
int pir=A0;
int bus=8;
int sensor;
void setup()
{
  pinMode(pir, INPUT);
  pinMode(led, OUTPUT);
  pinMode(bus, OUTPUT);
}
void loop(){
  sensor=digitalRead(pir);
  if(sensor==HIGH){
    digitalWrite(led, HIGH);
    tone(bus,10000);
  }
  else{
    digitalWrite(led, LOW);
  }
}
